<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <title>商品列表</title>
</head>

<body>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="" id="goodsList">
            <div class="page-header">
                <h1>鸿丰玉雕&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>中国瑞丽口岸德龙珠宝城D区5-6号-13988238325(黄先生)</small>
                </h1>
            </div>
            <div class="" id="goodsListHeader">
                <span class="label label-info">按条件搜索:</span>
                <input id="number" class="form-control" placeholder="商品编号" autofocus>
                <input id="goodsName" class="form-control" placeholder="商品名称">
                <button class="btn btn-md btn-success btn-block" type="button" id="searchButton">搜索</button>
                <button class="btn btn-md btn-warning btn-block" type="button" id="addButton" data-toggle="modal"
                        data-target="#myModal">录入商品
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">新增商品</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addForm">
                                <url>
                                    <li><input id="addGoodsName" class="form-control" placeholder="商品名称" required
                                               autofocus>
                                    </li>
                                    <li><input id="addGoodsNumber" class="form-control" placeholder="商品编号" required>
                                    </li>
                                    <li><input id="addGoodsPurchasePrice" class="form-control" placeholder="进货价(元)"
                                               required>
                                    </li>
                                    <li><input id="addGoodsRetailPrice" class="form-control" placeholder="零售价(元)"
                                               required>
                                    </li>
                                    <li><input id="addGoodsWholesalePrice" class="form-control" placeholder="批发价(元)"
                                               required>
                                    </li>
                                    <li>
                                        <select class="form-control" id="addGoodsStandard">
                                            <option selected>个</option>
                                            <option>台</option>
                                            <option>斤</option>
                                            <option>支</option>
                                            <option>把</option>
                                            <option>包</option>
                                            <option>袋</option>
                                            <option>张</option>
                                            <option>其他</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select class="form-control" id="addGoodsInventorySituation">
                                            <option selected>库存充足</option>
                                            <option>库存数量少</option>
                                            <option>无货</option>
                                        </select>
                                    </li>
                                </url>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" id="goodsListBody">
                <table class="table" id="goodsListTable">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>编号</th>
                        <!--<th>分类</th>-->
                        <th>进货价(元)</th>
                        <th>零售价(元)</th>
                        <th>批发价(元)</th>
                        <th>单位</th>
                        <th>库存情况</th>
                        <th>创建时间</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="goods : ${model.content}">
                        <td th:text="${goods.name}"></td>
                        <td th:text="${goods.number}"></td>
                        <!--<th th:text="${goods.category}"></th>-->
                        <th th:text="${goods.purchasePrice}"></th>
                        <th th:text="${goods.retailPrice}" class="retailPriceColor"></th>
                        <th th:text="${goods.wholesalePrice}"></th>
                        <th th:text="${goods.standard}"></th>
                        <th th:text="${goods.inventorySituation}"></th>
                        <th th:text="${goods.createTime}"></th>
                        <th>
                            <button class="btn btn-sm btn-danger btn-block editButton" type="button" onclick="toEdit(this)"
                                    th:data="${goods.id}"
                                    data-toggle="modal"
                            >编辑
                            </button>
                        </th>
                    </tr>
                    <div class="modal fade bs-example-modal-sm" id="myEditModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel2">编辑商品</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="editForm">
                                        <url>
                                            <li><input id="editGoodsName" class="form-control" placeholder="商品名称"
                                                       required
                                                       autofocus></li>
                                            <li><input id="editGoodsNumber" class="form-control" placeholder="商品编号"
                                                       required></li>
                                            <li><input id="editGoodsPurchasePrice" class="form-control"
                                                       placeholder="进货价(元)"
                                                       required>
                                            </li>
                                            <li><input id="editGoodsRetailPrice" class="form-control"
                                                       placeholder="零售价(元)"
                                                       required>
                                            </li>
                                            <li><input id="editGoodsWholesalePrice" class="form-control"
                                                       placeholder="批发价(元)" required>
                                            </li>
                                            <li>
                                                <select class="form-control" id="editGoodsStandard">
                                                    <option selected>个</option>
                                                    <option>台</option>
                                                    <option>斤</option>
                                                    <option>支</option>
                                                    <option>把</option>
                                                    <option>包</option>
                                                    <option>袋</option>
                                                    <option>张</option>
                                                    <option>其他</option>
                                                </select>
                                            </li>
                                            <li>
                                                <select class="form-control" id="editGoodsInventorySituation">
                                                    <option selected>库存充足</option>
                                                    <option>库存数量少</option>
                                                    <option>无货</option>
                                                </select>
                                            </li>
                                        </url>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" id="dataId" value="">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" onclick="edit()">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </tbody>
                </table>
            </div>
            <div class="" id="goodsListPager">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous" onclick="page(1)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a>第<span th:text="${model.pageNumber+1}" id="pageNumber"></span>页</a></li>
                        <li><a>共<span th:text="${model.totalPages}" id="totalPages"></span>页</a></li>
                        <li>
                            <a href="#" aria-label="Next" onclick="page(2)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>


<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>