<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <title>登录页</title>
</head>

<body>
<div class="background-div">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="login-div">
                <form class="login-form" method="post" action="/login">
                    <label for="username" class="sr-only">用户名</label>
                    <input name="username" id="username" class="form-control" placeholder="用户名" required autofocus>
                    <label for="password" class="sr-only">密码</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="密码" required>
                    <label th:text="${error}" id="error_label"></label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" >登录</button>
                </form>
            </div>
        </div>
    </div>
</div>


</div> <!-- /container -->

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
</body>
</html>